.advantages {
  margin-bottom: 24px;
  text-align: center;
}

.advantages__list {
  list-style: none;
}

.advantages__text-box {
  background-color: @main-accent;
  padding-top: 34px;
  padding-bottom: 39px;
}

.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.advantages__text-box--white {
  color: @basic-white;
}

.advantages__img {
  margin-bottom: 35px;
}

.advantages__recommend-list {
  list-style: none;
  margin-bottom: 35px;
  text-align: left;
}

.advantages__item--additional {
  background-color: @background-grey;
  padding: 26px 26px 24px;
}

.advantages__recommend-item {
  margin-bottom: 26px;
}

.advantages__recommend-item--rooms {
  background-image: url("../../img/mobile/icon-house.svg");
  background-repeat: no-repeat;
  //background-position:??
}

.advantages__recommend-item--presents {
  background-image: url("../../img/mobile/icon-gift.svg");
  background-repeat: no-repeat;
  //background-position:??
}

.advantages__recommend-item--food {
  background-image: url("../../img/mobile/icon-burger.svg");
  background-repeat: no-repeat;
  //background-position:??
}

.advantages__recommend-item:last-child {
  margin-bottom: 0;
}

.advantages__recommend-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.advantages__recommend-text {
  padding: 0;
  margin: 0;
}
