.button-like {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: transparent;
  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
  border: 0;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 68px;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    color: @basic-white;
    justify-content: center;
  }
}

.button-like__icon {
  color: @basic-black;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: @desktop-width) {
    fill: @basic-white;
    opacity: 1;
    margin-right: 9px;
  }
}
