.find-hotel {
  margin-bottom: 49px;
}

.find-hotel__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 27px;
}

.find-hotel__text {
  line-height: 24px;
  margin-bottom: 27px;
}
