.intro {
  background: url("../img/mobile/background-pict.jpg") no-repeat;
  background-position: center top;
  background-color: @background-light;
  margin-bottom: 11px;
  text-align: center;
}

.intro--review {
  border-bottom: 1px solid @object-disabled-grey;
  margin-bottom: 20px;
}

.intro__background {
  padding-top: 90px;
  padding-bottom: 85px;
}

.intro__background--review {
  margin-bottom: 36px;
}
