.intro {
  background: url("../img/mobile/background-pict.jpg") no-repeat;
  background-position: center top;
  background-color: @background-light;
  margin-bottom: 11px;
  text-align: center;
}

.intro__background {
  padding-top: 90px;
  padding-bottom: 85px;
}

.promo-content {
  background-color: @basic-white;
}

.promo-content__title {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  color: @basic-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.promo-content__text {
  margin: 0;
  padding: 0;
  line-height: 26px;
}
