.main-nav {
  background-color: @main-accent;
}

.main-nav__list {
  list-style: none;
}

.main-nav__item {
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-white;
}
