.main-nav {
  background-color: @basic-white;
}

.main-nav__toggle {
  position: absolute;
  top: 181px;
  right: 21px;
  width: 23px;
  height: 22px;
  border: 0;
  background: url("../img/mobile/icon-menu-open.svg") no-repeat;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover {
  opacity: 0.6;
}

.main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.main-nav__item {
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background-color: @main-accent;
  border-bottom: 1px solid @shadow;
  box-shadow: 0 1px 0 @shadow, inset 0 1px 0 @white-light;

  @media (min-width: @tablet-width) {
    border-bottom: 0;
    background-color: transparent;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none;
    width: 20%;
  }
}

.main-nav__item:first-child {
  box-shadow: none;
}

.main-nav__item:last-child {
  border-bottom: none;
  box-shadow: inset 0 1px 0 @white-light;
}

.main-nav__link {
  text-decoration: none;
  color: @basic-white;

  &:active {
    color: @white-medium;
  }

  @media (min-width: @tablet-width) {
    color: @basic-black;

    &:hover {
      color: @main-accent;
    }

    &:active {
      color: @black-medium;
    }
  }
}

.main-nav__item:hover {
  background-color: @menu-back-hover;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.main-nav__item:active {
  background-color: @menu-back-down;

  @media (min-width: @desktop-width) {
    background-color: transparent;
  }
}

// Закрыть кнопка
/*
.main-nav__toggle--close {
  position: absolute;
  padding: 0;
  top: 150px;
  right: 50px;
  border: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle--close::before, .main-nav__toggle-close::after {
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  width: 27.5px;
  height: 4px;
  border-radius: 0;
  cursor: pointer;
  background-color: @basic-white;
}

.main-nav__toggle--close::before{
  transform: rotate(45deg);
}

.main-nav__toggle--close::after{
  transform: rotate(135deg);
}

/*.main-nav__link--current {
  color: @menu-current;
}
.main-nav__link--current:hover {
  color: @menu-current-hover;
}
.main-nav__link--current:active {
  color: @menu-current-active;
}
.main-nav__link:hover {
  color: @main-accent;
}
.main-nav__link:active {
  color: @menu-down;
}*/
