.main-nav {
  background-color: @basic-white;
  position: relative;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  font-weight: 700;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  background-color: @main-accent;
  border-bottom: 1px solid @shadow;
  padding: 10px 6px;
  box-shadow: 0 1px 0 @shadow, inset 0 1px 0 @white-light;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:first-child {
    box-shadow: none;
  }

  &:last-child {
    border-bottom: none;
    box-shadow: inset 0 1px 0 @white-light;
  }

  &:nth-child(3n) {
    @media (min-width: @tablet-width) {
      margin-left: auto;
    }
  }

  &:hover {
    background-color: @menu-back-hover;

    @media (min-width: @tablet-width) {
      background-color: transparent;
    }
  }

  &:active {
    background-color: @menu-back-down;

    @media (min-width: @desktop-width) {
      background-color: transparent;
    }
  }

  @media (min-width: @tablet-width) {
    border-bottom: 0;
    background-color: transparent;
    line-height: 26px;
    font-size: 14px;
    box-shadow: none;
    width: 20%;
    padding: 0;
  }
}

.main-nav__link {
  text-decoration: none;
  color: @basic-white;
  display: block;

  @media (min-width: @tablet-width) {
    color: @basic-black;
  }

  &:hover {
    color: @main-accent;
  }

  &:active {
    color: @black-medium;
  }
}

.main-nav__link--current {
  @media (min-width: @tablet-width) {
    color: @menu-current;

    &:hover {
      color: @menu-current-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  padding: 0;
  content: "";
  border: 0;
  cursor: pointer;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
// кнопка гамбургер при закрытом меню

.main-nav--closed .main-nav__toggle--closed {
  bottom: -42px;
  right: 18px;
  width: 25px;
  height: 25px;
  background: url("../img/mobile/icon-menu-closed.svg") no-repeat;
}

// кнопка крестик при открытом меню

.main-nav--opened .main-nav__toggle--opened {
  top: 17px;
  right: 20px;
  width: 22px;
  height: 22px;
  background: url("../img/mobile/icon-menu-opened.svg") no-repeat;
}
