.page-header {
  background-color: @basic-white;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: -28px;

  @media (min-width: @tablet-width) {
    position: relative;
    padding-top: 16px;
    margin-bottom: 14px;
  }
}

.page-header__logo {
  width: 102px;
  height: 84px;
  margin: 0 auto;
  z-index: 10;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
  }
}

.page-header__logo-img {
  width: 102px;
  height: 84px;

  @media (min-width: @desktop-width) {
    width: 187px;
    height: 96px;
  }
}
