.page-footer {
  padding-bottom: 23px;
}

.page-footer__social {
  margin-bottom: 34px;
}

.page-footer__text {
  margin: 0;
  padding: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.page-footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 0;
}

.page-footer__item {
  margin-right: 6px;
}

.page-footer__link {
  display: block;
  position: relative;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @main-accent;
}

.page-footer__link:hover {
  background-color: @main-accent-hover;
}

.page-footer__link:active {
  background-color: @main-accent-down;
}

.page-footer__link::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page-footer__link:active::before {
  opacity: 0.3;
}

.page-footer__link--tw::before {
  background: url("../img/mobile/icon-twitter.svg") no-repeat;
  width: 18px;
  height: 15px;
  background-position: 50% 50%;
}

.page-footer__link--fb::before {
  background: url("../img/mobile/icon-facebook.svg") no-repeat;
  width: 9px;
  height: 19px;
}

.page-footer__link--yt::before {
  background: url("../img/mobile/icon-youtube.svg") no-repeat;
  width: 20px;
  height: 14px;
}

.copyright {
  margin: 0;
  padding: 0;
  text-align: center;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 35px;
}

.copyright__link:hover .copyright__logo-icon path { // при наведении иконка меняет заливку
  fill: @main-accent;
}

.copyright__link:active .copyright__logo-icon path { // при клике иконка меняет заливку
  fill: @black-medium;
}
