// Variables


//Text

@basic-text: #333333;
@basic-white: #fff;
@basic-black: #000;

@white-medium: rgba(255, 255, 255, 0.3);
@white-light: rgba(255, 255, 255, 0.2);

@black-medium:rgba(0, 0, 0, 0.3);
/*@shadow-light: rgba(1, 1, 1, 0.2);*/

//Background, accent, button
@main-accent: #81B3D2;
@background-light: #DBE9F2;
@background-grey: #EEEEEE;

@main-accent-hover: #669EC0;
@main-accent-down: #5496BD;
@object-disabled:#E5E5E5;

//Mobil menu
@menu-back-hover: #669EC0;
@menu-back-down: #5496BD;

//shadow
@drop-shadow: rgba(1, 1, 1, 0.2);
@inner-shadow: rgba(255, 255, 255, 0.2);


//Menu desktop
@menu-current:#766357;
@menu-current-hover:#604E43;






